<table class="table table-hover">
    <thead>
    <tr>
        <th>Item</th>
        <th>Qr-code</th>
        <th>Remove?</th>
    </tr>
    </thead>
    {% for item in items %}
     <tr>
         <td><a class="btn btn-theme btn-edit-item" title="{{ item.id }}" > {{ item.title }} </a></td>
         <td>
             <a href="{{ path('print_qr', { 'id': item.id }) }}" target="_blank"><img class="qr-code" src="{{ qrcode_url(item.qrcode, 'png', 100) }}" /></a>
         </td>
         <td><a class="btn btn-primary btn-embossed btn-danger btn-sm btn-delete-item" title="{{ item.id }}">X</a></td>
     </tr>
    {% endfor %}
</table>