
{% extends 'CityQuestBundle:CityQuest:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <section class="content-container">
        <div class="profile-container">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'profile.edit.submit' | trans }}" />
                </div>
            </form>

            <a href="{{ path('fos_user_change_password') }}">Change password</a>

        </div>
    </section>
{% endblock %}