<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}City Quest{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{asset('css/bootstrap.css') }}" rel="stylesheet">

        <link href="{{asset('css/style.css') }}" rel="stylesheet">
        <link href="{{asset('css/font-awesome.min.css') }}" rel="stylesheet">
        {% endblock %}
        <script src="{{asset('js/modernizr.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">AthenaPlus Educational tools</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="">HOME</a></li>
                            <li><a href="">NEW QUEST</a></li>
                            <li><a href=""></a></li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">ATHENA+</a></li>
                                    <li><a href="">OTHER EDU TOOLS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <!-- *****************************************************************************************************************
             BLUE WRAP
             ***************************************************************************************************************** -->
            <div id="blue">
                <div class="container">
                    <div class="row">
                        <h3>{% block page_title %}City Quest{%  endblock %}</h3>
                    </div><!-- /row -->
                </div> <!-- /container -->
            </div><!-- /blue -->
        <div class="container mtb">
            <div class="row">
            {%  block contents  %}


            {%  endblock  %}
            </div><! --/row -->
        </div><! --/container -->
                  <!-- *****************************************************************************************************************
                   FOOTER
                   ***************************************************************************************************************** -->
            <div id="footerwrap">
                <div class="container">
                    <div class="row">


                    </div><! --/row -->
                </div><! --/container -->
            </div><! --/footerwrap -->

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/retina-1.1.0.js') }}"></script>
            <script src="{{ asset('js/jquery.hoverdir.js') }}"></script>
            <script src="{{ asset('js/jquery.hoverex.min.js') }}"></script>
            <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
            <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
            <script src="{{ asset('js/notify.min.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
